*, ::after, ::before {
    box-sizing: border-box;
    font-family: Helvetica, Regular, serif;
}
.close {
    float:right;
}
.blue_button {
  background-color: #2e8ff0;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  margin:  10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  float:right;
}

.red_button {
  background-color: #f44682;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  margin:  10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  float:left;
}

.container {
  margin-left: 46px;
  margin-right: 46px;

}
.row {
 margin-top: 185px;
}
.col-1 {
  float:left;
  width: 66.66%;
}
.col-2 {
  float:left;
  width: 33.33%;
}
.table td, .table th {
    padding-top: 21px;
    padding-bottom: 22px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table td:hover {
    cursor:pointer;
}

table {
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
    width:100%;

}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.user-table {
    border-width: 0.2rem 0 0;

}

td {
    display: table-cell;
    vertical-align: inherit;
}
.form {
    margin-left: 26px;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    font-size: 16px;
    font-family: Helvetica, Bold, sans-serif;
}
.form-control {
  font-size: 13px;

}


input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.errorlist
    {
        color: red;
    }

.error input, .error select {
border: 2px red solid;
background-color: #ffdddd;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    margin-top: 56px;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 281px;
    height: 56px;
    color: #EFF0F4;

}
.alert-success {
    background-color: #66BB6A;
    border-color: #c3e6cb;
    color: #155724;
    float:right;
}

.alert-danger {
    background-color: #f44682;
    border-color: #f5c6cb;
    float:left;
}

.email-icon {
    height: 24px;
    background: transparent url('img/alternate_email_black_24dp.svg') 0 0 no-repeat padding-box;
    opacity: 1
}