{% extends 'base.html' %}
{% load static %}
{% block listview %}
{% for message in messages %}
<div class="container">
        <div class="alert alert-{% if success %}success{% else %}danger{% endif %}">
        {{ message }}
        {% endfor %}
        </div><br>
        <div class="row">
            <div class="col-1">
                <button class="blue_button" type="button">Create User</button>
                <div class="user_table">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th scope="col">USERNAME</th>
                            <th scope="col">FIRST NAME</th>
                            <th scope="col">LAST NAME</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">TYPE</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.type}}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    </div>
            </div>
            <div class="col-2">
                 <form class="form" method="post">
                    <h4>Create new user</h4>
                    {% csrf_token %}
                     <div>
                        <label class="form-control">Username*: </label>
                        <div>
                            {{ form.username }}
                            {{ form.username.errors }}
                        </div>
                    </div>
                    <div>
                        <label class="form-control">First Name*: </label>
                            {{ form.first_name }}
                            {% if form.first_name.errors %}
                            <div class="invalid-feedback">{{ form.first_name.errors }}</div>
                            {% endif %}
                    </div>
                    <div class="form-control">
                        <label>Last Name*: </label>
                            {{ form.last_name }}
                            {% if form.last_name.errors %}
                            <div class="invalid-feedback">{{ form.last_name.errors }}</div>
                            {% endif %}
                    </div>
                    <div class="form-control">
                        <label>Email*: </label>
                            {{ form.email }}
                            {% if form.email.errors %}
                            <div class="invalid-feedback">{{ form.email.errors }}</div>
                            {% endif %}
                    </div>
                    <div class="form-control">
                        <label>Type*: </label>
                           {{ form.type }}
                           {{ form.type.errors }}
                    </div>
                    <div class="form-control">
                        <label>Password*: </label>
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                        <div class="invalid-feedback">{{ form.password1.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-control">
                        <label>Repeat Password*: </label>
                            {{ form.password2 }}
                            {% if form.password2.errors %}
                            <div class="invalid-feedback">{{ form.password2.errors }}</div>
                            {% endif %}
                    </div>
                    <button class="blue_button" type="submit">Create</button>
                </form>
            </div>
        </div>
</div>
{% endblock %}
